body,
html {
  background: #fafafa;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p,
li {
  line-height: 1.7;
}

img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

h1 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.byline {
  width: 100%;
  text-align: center;
}

.intro {
  font-size: 1.2rem;
  text-align: center;
}

article {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
}

pre {
  font-family: ui-monospace, monospace;
  overflow-x: scroll;
}
